@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"),
    url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-bg-color: #f9fafb;
  --primary-text-color: #000000;
  --secondary-bg-color: #ffffff;
  --secondary-text-color: #6c727f;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

main {
  width: min(90%, 45rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-weight: var(--fw-600);
  font-size: 3rem;
}

h1 + p {
  font-size: 1.25rem;
}

p {
  color: var(--secondary-text-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: min(90%, 34.375rem);
  margin-top: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.75rem;
}

input {
  --outline-color: #e5e7eb;
  background-color: var(--primary-bg-color);
  border-color: transparent;
  outline: solid 1px var(--outline-color);
  padding-left: 1rem;
  transition: outline-color 0.3s ease-in-out;
}

input::placeholder {
  --placeholder-clr: #394150;
  text-align: center;
  font-weight: var(--fw-500);
  color: var(--placeholder-clr);
}

input,
button {
  padding-block: 0.75rem;
  border-radius: inherit;
}

button {
  --btn-bg-color: #284bce;
  border-color: transparent;
  background-color: var(--btn-bg-color);
  color: var(--secondary-bg-color);
  font-weight: var(--fw-600);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

input:hover,
input:focus {
  --outline-color: black;
}

input:not(:placeholder-shown):user-valid {
  --outline-color: darkgreen;
  background-image: url(./assets/images/icon-check.png);
  background-position: 95%;
  background-repeat: no-repeat;
}

input:not(:placeholder-shown):user-invalid {
  --outline-color: tomato;
  background-image: url(./assets/images/icon-error.svg);
  background-position: 95%;
  background-repeat: no-repeat;
}

button:hover,
button:focus {
  --btn-bg-color: #123099;
}

button + p {
  font-size: 0.875rem;
}
